---
import BaseLayout from '../layouts/BaseLayout.astro'
import PanelLayout from '../layouts/PanelLayout.astro'
import LiveblocksRoom from '../lib/LiveblocksRoom.astro'
import RandomUserInfo from '../lib/RandomUserInfo.astro'
import Title from '../components/Title.astro'
import TitleSmall from '../components/TitleSmall.astro'
import Paragraph from '../components/Paragraph.astro'
import GetPublicKey from '../components/GetPublicKey.astro'
import Link from '../components/Link.astro'
import Demo from '../components/Demo.astro'
import Code from '../components/Code.astro'
import { links } from '../links'

// Get your free public key from https://liveblocks.io
const key = import.meta.env.PUBLIC_LIVEBLOCKS_PUBLIC_KEY

// The name of the current room
const roomId =  'astro-collaborative-starter-index'
---
<BaseLayout>
  <RandomUserInfo></RandomUserInfo>
  <LiveblocksRoom
    room-id={roomId}
    public-key={key}
  >
    <PanelLayout>

      <Title text="Astro collaborative starter">
        A set of collaborative elements for Astro, powered by
        <Link href="https://liveblocks.io" newTab>Liveblocks</Link>
      </Title>

      <Demo />

      <TitleSmall>
        How to use
      </TitleSmall>

      <GetPublicKey />

      <TitleSmall>
        Add LiveblocksRoom
      </TitleSmall>

      <Paragraph>
        You can use &lt;LiveblocksRoom&gt; to create a multiplayer room
      </Paragraph>

      <Code lang="astro" code={`---
const key = import.meta.env.PUBLIC_LIVEBLOCKS_PUBLIC_KEY

// The name of the multiplayer room
const roomId = 'my-room'
---
<LiveblocksRoom
  roomId={roomId}
  public-key={key}
>
  <!-- Place all multiplayer components inside -->
</LiveblocksRoom>
`}/>
      <TitleSmall>
        Wrap with LiveblocksRoom
      </TitleSmall>
      <a href="/liveblocks-room" class="max-w-screen-md mt-5 block bg-gray-50 group transition-colors rounded-xl relative aspect-[2/1]">
        <div class="opacity-80 group-hover:opacity-100 transition-opacity">
          <img class="w-full" src="" alt="" />
          <div class="absolute bottom-3 left-4 font-semibold text-lg">Setup with LiveblocksRoom</div>
          <div class="absolute top-3 right-4 opacity-50 font-mono">{'<LiveblocksRoom>'}</div>
        </div>
      </a>

      <TitleSmall>
        Multiplayer Components
      </TitleSmall>

      <div class="grid grid-cols-2 gap-5 max-w-screen-md mt-5">
        {links.map(({ slug, name, tag, image }) => (
          <a href={slug} class="block bg-gray-50 group transition-colors rounded-xl relative aspect-[2/1]">
            <div class="opacity-80 group-hover:opacity-100 transition-opacity">
              <img class="w-full" src={image} alt="" />
              <div class="absolute bottom-3 left-4 font-semibold text-lg">{name}</div>
              <div class="absolute top-3 right-4 opacity-50 font-mono">{tag}</div>
            </div>
          </a>
        ))}
      </div>

    </PanelLayout>
  </LiveblocksRoom>
</BaseLayout>
