---
import BaseLayout from '../layouts/BaseLayout.astro'
import '../components/liveblocks-room'
import '../components/live-avatars'
import '../components/live-cursors'
import '../components/live-users'
import '../components/live-form'
import { randomName, randomColor, randomPicture } from '../components/utils/random'

// Get your free public key from https://liveblocks.io
const key = import.meta.env.PUBLIC_LIVEBLOCKS_PUBLIC_KEY

// The name of the current room
const roomId =  'astro-collaborative-starter'

// The current user's info
const user = {
  name: randomName(),
  color: randomColor(),
  picture: randomPicture()
}
---

<BaseLayout>

  <div class="font-bold">safg</div>

  <!-- Create dialog for changing user-name etc -->

    <liveblocks-room
      user-name={user.name}
      user-color={user.color}
      user-picture={user.picture}
      room-id={roomId}
      public-key={key}
      client:load
    >

      <live-users
        size="40"
        client:visible
      ></live-users>

      <live-avatars
        size="40"
        client:visible
      ></live-avatars>

      <live-cursors
        movement="smooth"
        client:load
      ></live-cursors>

      <live-form
        name="mainform"
        client:load
      >
        <input name="firstname" type="text" value="yo" />
        <input name="lastname" type="text" value="hallo" />
        <input name="checky" type="checkbox" />
        <input name="col" type="color" />
      </live-form>

    </liveblocks-room>


</BaseLayout>
