---
import '../lib/liveblocks-room'
import LiveUsers from '../lib/LiveUsers.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
import PanelLayout from '../layouts/PanelLayout.astro'
import Code from '../components/Code.astro'
import Title from '../components/Title.astro'
import TitleSmall from '../components/TitleSmall.astro'
import Paragraph from '../components/Paragraph.astro'
import InputText from '../components/InputText.astro'
import InputNumber from '../components/InputNumber.astro'
import InputDropdown from '../components/InputDropdown.astro'
import { randomName, randomColor, randomPicture, randomStatus } from '../lib/utils/random'

// Get your free public key from https://liveblocks.io
const key = import.meta.env.PUBLIC_LIVEBLOCKS_PUBLIC_KEY

// The name of the current room
const roomId =  'astro-collaborative-starter-live-users'

// The current user's info
const user = {
  name: randomName(),
  color: randomColor(),
  picture: randomPicture(),
  status: randomStatus()
}
---
<script>
  const room = document.querySelector('liveblocks-room')
  room.setAttribute('user-name', 'DynamicNames')
  room.setAttribute('user-picture', '')
</script>

<BaseLayout>
  <liveblocks-room
    user-name={user.name}
    user-color={user.color}
    user-picture={user.picture}
    user-status={user.status}
    room-id={roomId}
    public-key={key}
    client:load
  >
    <PanelLayout>
      <Title text="Live user list">
        See users currently online with &lt;live-users&gt;
      </Title>

      <LiveUsers />

      <TitleSmall>
        How to use
      </TitleSmall>

      <Paragraph>
        Just add &lt;live-users&gt;.
      </Paragraph>

            <Code>---
import LiveUsers from '../lib/LiveUsers.astro'
---
&lt;!-- Basic -->
&lt;LiveUsers&gt;&lt;/LiveUsers&gt;

&lt;!-- Change avatar size -->
&lt;LiveUsers size="32"&gt;&lt;/LiveUsers&gt;

&lt;!-- Only show your avatar -->
&lt;LiveUsers show="self"&gt;&lt;/LiveUsers&gt;

&lt;!-- Only show other people's avatars -->
&lt;LiveUsers show="others"&gt;&lt;/LiveUsers&gt;
</Code>

      or

      <Code>---
import '../lib/live-users'
---
&lt;!-- Basic -->
&lt;live-users client:load&gt;&lt;/live-users&gt;

&lt;!-- Change avatar size -->
&lt;live-users size="32" client:load&gt;&lt;/live-users&gt;

&lt;!-- Only show your avatar -->
&lt;live-users show="self" client:load&gt;&lt;/live-users&gt;

&lt;!-- Only show other people's avatars -->
&lt;live-users show="others" client:load&gt;&lt;/live-users&gt;
</Code>

      <TitleSmall>
        Customise
      </TitleSmall>

      <Paragraph>
        Customise with CSS parts:
      </Paragraph>

      <Code>&lt;style&gt;
live-users::part(user) {'{'}
  margin-bottom: 12px;
{'}'}

live-users::part(name) {'{'}
  font-weight: 500;
{'}'}
&lt/style&gt;</Code>

      <Paragraph>
        All CSS parts:
      </Paragraph>

      <Code>user,
name,
status,
avatar,
avatar_picture_wrapper,
avatar_picture,
avatar_fallback</Code>


    </PanelLayout>
  </liveblocks-room>
</BaseLayout>

