---
import '../components/liveblocks-room'
import '../components/live-form'
import BaseLayout from '../layouts/BaseLayout.astro'
import PanelLayout from '../layouts/PanelLayout.astro'
import Code from '../components/Code.astro'
import Title from '../components/Title.astro'
import TitleSmall from '../components/TitleSmall.astro'
import Paragraph from '../components/Paragraph.astro'
import InputText from '../components/InputText.astro'
import InputNumber from '../components/InputNumber.astro'
import InputDropdown from '../components/InputDropdown.astro'
import { randomName, randomColor, randomPicture, randomStatus } from '../components/utils/random'

// Get your free public key from https://liveblocks.io
const key = import.meta.env.PUBLIC_LIVEBLOCKS_PUBLIC_KEY

// The name of the current room
const roomId =  'astro-collaborative-starter-live-form'

// The current user's info
const user = {
  name: randomName(),
  color: randomColor(),
  picture: randomPicture(),
  status: randomStatus()
}
---

<BaseLayout>
  <liveblocks-room
    user-name={user.name}
    user-color={user.color}
    user-picture={user.picture}
    user-status={user.status}
    room-id={roomId}
    public-key={key}
    client:load
  >
    <PanelLayout>
      <Title text="Collaborative forms">
        Any inputs, textareas, selects, with a name="" attribute inside &lt;live-form&gt; will be shared
      </Title>

      <!-- live-form's child inputs are automatically shared, must have a unique name -->
      <live-form
        name="mainform"
        client:load
      >
        <div class="grid grid-cols-2 gap-5 max-w-screen-sm">
          <!-- Column 1 -->
          <div>
            <!-- These contain styled input elements, the name attribute is passed down -->
            <InputText name="firstname" label="First name" placeholder="Enter your first name" />
            <InputNumber name="age" label="Age" placeholder="Enter your age"  />

            <!-- Checkbox 1 -->
            <div class="my-6">
              <input id="tickbox" name="tickbox" type="checkbox" class="w-4 h-4" />
              <label for="tickbox" class="text-sm ml-1.5 text-gray-500 select-none">
                <span class="font-medium text-gray-700">Tick this box</span> for cool stuff.
              </label>
            </div>

            <!-- Color picker -->
            <div class="my-6">
              <label for="col" class="inline-block text-sm font-medium text-gray-700 mb-1.5 select-none">
                Choose a color
              </label>
              <input id="col" name="col" type="color" class="block w-18 h-9" />
            </div>
          </div>

          <!-- Column 2 -->
          <div>
            <!-- These contain styled input elements, the name attribute is passed down -->
            <InputText name="lastname" label="Last name" placeholder="Enter your last name"  />
            <InputDropdown name="dropdownnumber" label="Favorite fruit" options="Apple,Banana,Cherry,Durian" />

            <!-- Checkbox 2 -->
            <div class="my-6">
              <input id="tickbox2" name="tickbox2" type="checkbox" class="w-4 h-4" />
              <label for="tickbox2" class="text-sm ml-1.5 text-gray-500 select-none">
                <span class="font-medium text-gray-700">Check this box</span> for other stuff.
              </label>
            </div>

            <!-- Date picker -->
            <div class="my-6">
              <label for="datepicker" class="inline-block text-sm font-medium text-gray-700 mb-0.5 select-none">
                Pick a date
              </label>
              <input id="datepicker" name="datepicker" type="date" class="block mt-2" />
            </div>
          </div>

        </div>
      </live-form>

      <TitleSmall>
        How to use
      </TitleSmall>

      <Paragraph>
        Wrap &lt;live-form&gt; in a &lt;liveblocks-room&gt; and give it a unique name to get it working.
        Each input must have a unique name (within the live-form) too. Updates are propagated on 'input' events.
      </Paragraph>

<Code>&lt;live-form name="myform" client:load&gt;
  &lt;input name="myinput" /&gt;
&lt;/live-form&gt;</Code>


    </PanelLayout>
  </liveblocks-room>
</BaseLayout>
