---
import '../lib/liveblocks-room'
import '../lib/live-avatars'
import BaseLayout from '../layouts/BaseLayout.astro'
import PanelLayout from '../layouts/PanelLayout.astro'
import Code from '../components/Code.astro'
import Title from '../components/Title.astro'
import TitleSmall from '../components/TitleSmall.astro'
import Paragraph from '../components/Paragraph.astro'
import InputText from '../components/InputText.astro'
import InputNumber from '../components/InputNumber.astro'
import InputDropdown from '../components/InputDropdown.astro'
import { randomName, randomColor, randomPicture, randomStatus } from '../lib/utils/random'

// Get your free public key from https://liveblocks.io
const key = import.meta.env.PUBLIC_LIVEBLOCKS_PUBLIC_KEY

// The name of the current room
const roomId =  'astro-collaborative-starter-live-form'

// The current user's info
const user = {
  name: randomName(),
  color: randomColor(),
  picture: randomPicture(),
  status: randomStatus()
}
---

<BaseLayout>
  <liveblocks-room
    user-name={user.name}
    user-color={user.color}
    user-picture={user.picture}
    user-status={user.status}
    room-id={roomId}
    public-key={key}
    client:load
  >
    <PanelLayout>
      <Title text="Live avatar stack">
        See users currently online with &lt;live-avatars&gt;
      </Title>

      <!-- live-form's child inputs are automatically shared, must have a unique name -->
      <live-avatars
        client:load
      ></live-avatars>

      <TitleSmall>
        How to use
      </TitleSmall>

      <Paragraph>
        Just add &lt;live-avatars&gt;.
      </Paragraph>

      Basic:
      <Code>&lt;!-- Basic -->
&lt;live-avatars client:load&gt;&lt;/live-avatars&gt;

&lt;!-- Change avatar size -->
&lt;live-avatars size="32" client:load&gt;&lt;/live-avatars&gt;

&lt;!-- Only show your avatar -->
&lt;live-avatars show="self" client:load&gt;&lt;/live-avatars&gt;

&lt;!-- Only show other people's avatars -->
&lt;live-avatars show="others" client:load&gt;&lt;/live-avatars&gt;
</Code>

    </PanelLayout>
  </liveblocks-room>
</BaseLayout>
